@tailwind base;
@tailwind components;
@tailwind utilities;

$dark: #1c1717;
$green: #37b573;
$yellow: #fab840;

body {
  background-color: $green;
}

.menu {
  background-color: $dark;
}

.card {
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;

  .card-colored {
    background-color: $dark;
    flex: 1;
    padding: 10px;
  }

  .bottom-link {
    flex: 0;
  }

  .card-text {
    color: white;
  }

  &:nth-child(even) {
    color: $dark;

    .card-colored {
      background-color: white;
    }

    .card-text {
      color: $dark;
    }
  }

  .card-title,
  .card-date,
  .bottom-link {
    color: $yellow;
    line-height: 1.5;
  }
}

.card-embed {
  height: 332px;

  .card-embed-triangle {
    width: 0;
    height: 0;
    border-top: 15px solid $dark;
    border-bottom: 15px solid $dark;

    border-left: 30px solid white;
  }
}

* {
  box-sizing: border-box;
}
